<!DOCTYPE html>
<html>
<body>
<head>
  <title>家管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div class="w3-quarter w3-container"> </div>
<div class="w3-half w3-container">
  <div class="w3-content w3-display-container container" style="max-width:1500px">
	<h2>Login</h2>
	  <%= form_for(:session, url: login_path) do |f| %>
      *用户名:<br>
      <%= f.text_field :name %>
      <br><br>
      *密码: <%= link_to "Forgot Password?", new_password_resets_path %><br>
      <%= f.password_field :password, class: 'form-control' %>
      <br><br>
      <%= f.submit "Log in", class: "btn btn-primary" %>
   	  <% end %>
   	  <br><br>
   	  <p>New user? <%= link_to "Sign up now!", users_new_path %></p>
  </div>
</div>
<div class="w3-quarter w3-container"> </div>
</body>
</html>
