<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-row">
  <div class="w3-quarter w3-container"> </div>
  <div class="w3-half w3-container">
    <h3 class="border-bottom border-gray pb-2 mb-0">
      <a class="text-dark"><%= @posts.title %></a>
    </h3>
  <strong class="d-block text-gray-dark">服务内容： </strong> <%= @posts.content %> 
  <strong class="d-block text-gray-dark">服务每次 <%= @posts.price %> 元 </strong>
  <strong class="d-block text-gray-dark">联系人：</strong> <%= @posts.name %> 
  <strong class="d-block text-gray-dark">联系人电话：</strong> <%= @posts.mobile %> 
  <strong class="d-block text-gray-dark">联系人邮箱：</strong> <%= @posts.email %> 
  <br/>
  <button > <a href="welcome/index">返回</button> 
  </div>
  <div class="w3-quarter w3-container"></div>
</div>
</div>
</body>
</html>