<!DOCTYPE html>
<html>
<body>
<head>
  <title>家管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div class="w3-row">
  <div class="w3-quarter w3-container"> </div>
  <div class="w3-half w3-container" style="padding: 70px;
    border: 1px solid #e6ffff; background-color: #FFDAB9">
    <h2><%= @posts.title %></h2>
    <h4>服务内容： </h4> <p><%= @posts.content %></p>
    <h4>服务每次 <%= @posts.price %> 元 </h4>
    <h4>联系人：</h4> <p> <%= @posts.name %> </p>
    <h4>联系人电话：</h4> <p> <%= @posts.mobile %> </p> 
    <h4>联系人邮箱：</h4> <p> <%= @posts.email %> </p> 
    <a class="button" href="posts_list">返回</a>
  </div>
  <div class="w3-quarter w3-container"></div>
</div>
</body>
</html>